body {
    background-color: rgb(63, 62, 62);
}

#item-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#item {
    width: 200px;
    height:300px;
    background-color: white;
    border: 3px solid rgb(24, 23, 23);;
    border-radius: 4px;
    
}

#top {
    height: 50%;
    width: 100%;
    
}
#bottom {
    height: 200px;
    width: 100%;
    margin: 5px 1px;
}

#art {
    width: 100%;
    height: 100%;
    object-fit:contain;
}