#square1 {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

#square2 {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    position: absolute;
    top: 50px;
    left: 255px;
    cursor: pointer;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}